.mainContent{
    margin-left: 5rem;
    margin-right: 12rem;
}

.img1{
    margin-left: 20rem;
}

.title{
    font-family: 'Josefin Sans', sans-serif;
}
.paragraphs{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-size: 1.3rem;
}